@CHARSET "UTF-8";
#date{margin:100px 500px;border:2px solid #909090;height:50px;width:400px}
.hint{text-align:center;font-size:20px;font-family:"楷体_gb2312"}
.content{text-align:center;width:400px}
.spanT{color:blue;font-size:25px}