/* CSS Document */
.right_table{line-height:20px;}
.ls_msc{ border:1px solid #0099FF; background:#FFFFCC; line-height:14px; font-size:12px;}
.Myfcollect{ font-size:18px;}
.charcolor{color:#0099FF; font-size:18px;}