/* CSS Document */
*{font-size:12px;}
.character{ color:#CCCCCC;}
.bgimg{ background:url(../images/Ê×Ò³_03.jpg); width:213px; height:172px;}
.main{ width:180px; height:105px; margin:10px auto 0 auto;}
.input1{width:90px; height:18px;}