/* CSS Document */

.character{ color:#CCCCCC;}
*{margin:0; padding:0; font-size:12px;}
.divlogin{ width:180px; height:105px; margin:40px auto 0 auto;}
.align1{text-align:right; color:#828282;}
td{line-height:22px;}
