body                                {text-align:center; padding:0px; margin:0px auto; font-size:13px;}
div                                 {text-align:center; padding:0px; margin:0px auto; font-size:13px;}
ul                                  {text-align:center; padding:0px; margin:0px auto; list-style-type:none;}
li                                  {text-align:center; padding:0px; margin:0px auto; display:block;}

.cell_h                             {width:100%; height:10px; font-size:0px; clear:both;}
.clear                              {width:100%; height:0px; border:0px; font-size:0px; overflow:hidden; clear:both;}

.input                              {font-size:12px; border:1px solid #777777; font-family:ו;}

a:link                              {font-size:14px; color:#333333; text-decoration:none;}
a:actived                           {font-size:14px; color:#333333; text-decoration:none;}
a:visited                           {font-size:14px; color:#333333; text-decoration:none;}
a:hover                             {font-size:14px; color:#FF0000; text-decoration:underline;}

.a1:link                            {font-size:13px; color:#FFFFFF; text-decoration:underline;}
.a1:actived                         {font-size:13px; color:#FFFFFF; text-decoration:underline;}
.a1:visited                         {font-size:13px; color:#FFFFFF; text-decoration:underline;}
.a1:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a2:link                            {font-size:14px; color:#FFFFFF; text-decoration:none;}
.a2:actived                         {font-size:14px; color:#FFFFFF; text-decoration:none;}
.a2:visited                         {font-size:14px; color:#FFFFFF; text-decoration:none;}
.a2:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}

.a3:link                            {font-size:13px; color:#0257AE; text-decoration:none;}
.a3:actived                         {font-size:13px; color:#0257AE; text-decoration:none;}
.a3:visited                         {font-size:13px; color:#0257AE; text-decoration:none;}
.a3:hover                           {font-size:13px; color:#0257AE; text-decoration:underline;}

.a4:link                            {font-size:13px; color:#FFFFCC; text-decoration:none;}
.a4:actived                         {font-size:13px; color:#FFFFCC; text-decoration:none;}
.a4:visited                         {font-size:13px; color:#FFFFCC; text-decoration:none;}
.a4:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a5:link                            {font-size:15px; color:#079304; font-weight:bold; text-decoration:none;}
.a5:actived                         {font-size:15px; color:#079304; font-weight:bold; text-decoration:none;}
.a5:visited                         {font-size:15px; color:#079304; font-weight:bold; text-decoration:none;}
.a5:hover                           {font-size:15px; color:#FF0000; font-weight:bold; text-decoration:underline;}

.a6:link                            {font-size:15px; color:#E36703; font-weight:bold; text-decoration:none;}
.a6:actived                         {font-size:15px; color:#E36703; font-weight:bold; text-decoration:none;}
.a6:visited                         {font-size:15px; color:#E36703; font-weight:bold; text-decoration:none;}
.a6:hover                           {font-size:15px; color:#FF0000; font-weight:bold; text-decoration:underline;}

.a7:link                            {font-size:12px; color:#0257AE; text-decoration:none;}
.a7:actived                         {font-size:12px; color:#0257AE; text-decoration:none;}
.a7:visited                         {font-size:12px; color:#0257AE; text-decoration:none;}
.a7:hover                           {font-size:12px; color:#FF0000; text-decoration:underline;}

.a8:link                            {font-size:14px; color:#FF0000; text-decoration:underline;}
.a8:actived                         {font-size:14px; color:#FF0000; text-decoration:underline;}
.a8:visited                         {font-size:14px; color:#FF0000; text-decoration:underline;}
.a8:hover                           {font-size:14px; color:#0000FF; text-decoration:underline;}




.a10:link                            {font-size:13px; color:#888888; text-decoration:none;}
.a10:actived                         {font-size:13px; color:#888888; text-decoration:none;}
.a10:visited                         {font-size:13px; color:#888888; text-decoration:none;}
.a10:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a11:link                            {font-size:14px; color:#333333; text-decoration:none;}
.a11:actived                         {font-size:14px; color:#333333; text-decoration:none;}
.a11:visited                         {font-size:14px; color:#333333; text-decoration:none;}
.a11:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}

.a12:link                            {font-size:13px; color:#333333; text-decoration:none;}
.a12:actived                         {font-size:13px; color:#333333; text-decoration:none;}
.a12:visited                         {font-size:13px; color:#333333; text-decoration:none;}
.a12:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a13:link                            {font-size:14px; color:#0257AE; text-decoration:none;}
.a13:actived                         {font-size:14px; color:#0257AE; text-decoration:none;}
.a13:visited                         {font-size:14px; color:#0257AE; text-decoration:none;}
.a13:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}

.a14:link                            {font-size:13px; color:#FF0000; text-decoration:underline;}
.a14:actived                         {font-size:13px; color:#FF0000; text-decoration:underline;}
.a14:visited                         {font-size:13px; color:#FF0000; text-decoration:underline;}
.a14:hover                           {font-size:13px; color:#0000FF; text-decoration:underline;}


.a15:link                            {font-size:14px; color:#338815; text-decoration:none;}
.a15:actived                         {font-size:14px; color:#338815; text-decoration:none;}
.a15:visited                         {font-size:14px; color:#338815; text-decoration:none;}
.a15:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}

.a16:link                            {font-size:13px; color:#888888; text-decoration:none;}
.a16:actived                         {font-size:13px; color:#888888; text-decoration:none;}
.a16:visited                         {font-size:13px; color:#888888; text-decoration:none;}
.a16:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a17:link                            {font-size:13px; color:#555555; text-decoration:none;}
.a17:actived                         {font-size:13px; color:#555555; text-decoration:none;}
.a17:visited                         {font-size:13px; color:#555555; text-decoration:none;}
.a17:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a18:link                            {font-size:13px; color:#C6B108; text-decoration:underline;}
.a18:actived                         {font-size:13px; color:#C6B108; text-decoration:underline;}
.a18:visited                         {font-size:13px; color:#C6B108; text-decoration:underline;}
.a18:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a19:link                            {font-size:13px; color:#47AC04; text-decoration:underline;}
.a19:actived                         {font-size:13px; color:#47AC04; text-decoration:underline;}
.a19:visited                         {font-size:13px; color:#47AC04; text-decoration:underline;}
.a19:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a20:link                            {font-size:13px; color:#E60012; text-decoration:underline;}
.a20:actived                         {font-size:13px; color:#E60012; text-decoration:underline;}
.a20:visited                         {font-size:13px; color:#E60012; text-decoration:underline;}
.a20:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a21:link                            {font-size:13px; color:#0257AE; text-decoration:underline;}
.a21:actived                         {font-size:13px; color:#0257AE; text-decoration:underline;}
.a21:visited                         {font-size:13px; color:#0257AE; text-decoration:underline;}
.a21:hover                           {font-size:13px; color:#0257AE; text-decoration:underline;}

.a22:link                            {font-size:15px; color:#079304; font-weight:bold; text-decoration:underline;}
.a22:actived                         {font-size:15px; color:#079304; font-weight:bold; text-decoration:underline;}
.a22:visited                         {font-size:15px; color:#079304; font-weight:bold; text-decoration:underline;}
.a22:hover                           {font-size:15px; color:#FF0000; font-weight:bold; text-decoration:underline;}

.a23:link                            {font-size:15px; color:#E36703; font-weight:bold; text-decoration:underline;}
.a23:actived                         {font-size:15px; color:#E36703; font-weight:bold; text-decoration:underline;}
.a23:visited                         {font-size:15px; color:#E36703; font-weight:bold; text-decoration:underline;}
.a23:hover                           {font-size:15px; color:#FF0000; font-weight:bold; text-decoration:underline;}

.a24:link                            {font-size:13px; color:#0257AE; text-decoration:underline;}
.a24:actived                         {font-size:13px; color:#0257AE; text-decoration:underline;}
.a24:visited                         {font-size:13px; color:#0257AE; text-decoration:underline;}
.a24:hover                           {font-size:13px; color:#FF0000; text-decoration:underline;}

.a25:link                            {font-size:14px; color:#0257AE; text-decoration:underline;}
.a25:actived                         {font-size:14px; color:#0257AE; text-decoration:underline;}
.a25:visited                         {font-size:14px; color:#0257AE; text-decoration:underline;}
.a25:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}

.a26:link                            {font-size:12px; color:#FFFFFF; text-decoration:underline;}
.a26:actived                         {font-size:12px; color:#FFFFFF; text-decoration:underline;}
.a26:visited                         {font-size:12px; color:#FFFFFF; text-decoration:underline;}
.a26:hover                           {font-size:12px; color:#FF0000; text-decoration:underline;}

.ta0:link                            {font-size:14px; color:#333333; text-decoration:none;}
.ta0:actived                         {font-size:14px; color:#333333; text-decoration:none;}
.ta0:visited                         {font-size:14px; color:#333333; text-decoration:none;}
.ta0:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}

.ta1:link                            {font-size:14px; color:#FF0000; text-decoration:none;}
.ta1:actived                         {font-size:14px; color:#FF0000; text-decoration:none;}
.ta1:visited                         {font-size:14px; color:#FF0000; text-decoration:none;}
.ta1:hover                           {font-size:14px; color:#00FF00; text-decoration:underline;}

.ta2:link                            {font-size:14px; color:#0000FF; text-decoration:none;}
.ta2:actived                         {font-size:14px; color:#0000FF; text-decoration:none;}
.ta2:visited                         {font-size:14px; color:#0000FF; text-decoration:none;}
.ta2:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}

.ta3:link                            {font-size:14px; color:#00FF00; text-decoration:none;}
.ta3:actived                         {font-size:14px; color:#00FF00; text-decoration:none;}
.ta3:visited                         {font-size:14px; color:#00FF00; text-decoration:none;}
.ta3:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}

.ta4:link                            {font-size:14px; color:#006666; text-decoration:none;}
.ta4:actived                         {font-size:14px; color:#006666; text-decoration:none;}
.ta4:visited                         {font-size:14px; color:#006666; text-decoration:none;}
.ta4:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}

.ta5:link                            {font-size:14px; color:#FF9900; text-decoration:none;}
.ta5:actived                         {font-size:14px; color:#FF9900; text-decoration:none;}
.ta5:visited                         {font-size:14px; color:#FF9900; text-decoration:none;}
.ta5:hover                           {font-size:14px; color:#FF0000; text-decoration:underline;}
